Django
django-debug-toolbar==8.0.0
djangorestframework==3.18.3
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
drf-spectacular==0.30.0
flake8==7.4.1
flake8-quotes==3.4.0
flake8-variables-names==0.0.6
pillow==12.3.0
psycopg==3.3.6
psycopg-binary==3.3.6
pycodestyle==2.15.0
pyflakes==4.0.3
PyJWT==2.15.1
python-dotenv==1.2.4
PyYAML==6.0.3
referencing==0.37.0
setuptools==84.0.0
sqlparse==0.6.0
uritemplate==4.2.0
